<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>ThesisAE.html</welcome-file>
	</welcome-file-list>

	<!-- Servlets -->
	<servlet>
		<servlet-name>equationServlet</servlet-name>
		<servlet-class>uk.ac.cranfield.thesis.server.service.EquationServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>equationServlet</servlet-name>
		<url-pattern>/uk.ac.cranfield.thesis.ThesisAE/equation</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ParserService</servlet-name>
		<servlet-class>uk.ac.cranfield.thesis.server.service.ParserServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ParserService</servlet-name>
		<url-pattern>/uk.ac.cranfield.thesis.ThesisAE/ParserService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RungeKuttaSolverService</servlet-name>
		<servlet-class>uk.ac.cranfield.thesis.server.service.solver.RungeKuttaSolverServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RungeKuttaSolverService</servlet-name>
		<url-pattern>/uk.ac.cranfield.thesis.ThesisAE/RungeKuttaSolverService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SystemPersistenceService</servlet-name>
		<servlet-class>uk.ac.cranfield.thesis.server.service.persistence.SystemPersistenceServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SystemPersistenceService</servlet-name>
		<url-pattern>/uk.ac.cranfield.thesis.ThesisAE/SystemPersistenceService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SolutionPersistenceService</servlet-name>
		<servlet-class>uk.ac.cranfield.thesis.server.service.persistence.SolutionPersistenceServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SolutionPersistenceService</servlet-name>
		<url-pattern>/uk.ac.cranfield.thesis.ThesisAE/SolutionPersistenceService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BulirschStoerSolverService</servlet-name>
		<servlet-class>uk.ac.cranfield.thesis.server.service.solver.BulirschStoerSolverServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BulirschStoerSolverService</servlet-name>
		<url-pattern>/uk.ac.cranfield.thesis.ThesisAE/BulirschStoerSolverService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ModifiedMidpointSolverService</servlet-name>
		<servlet-class>uk.ac.cranfield.thesis.server.service.solver.ModifiedMidpointSolverServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModifiedMidpointSolverService</servlet-name>
		<url-pattern>/uk.ac.cranfield.thesis.ThesisAE/ModifiedMidpointSolverService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdamsBashforthMoultonSolverService</servlet-name>
		<servlet-class>uk.ac.cranfield.thesis.server.service.solver.AdamsBashforthMoultonSolverServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdamsBashforthMoultonSolverService</servlet-name>
		<url-pattern>/uk.ac.cranfield.thesis.ThesisAE/AdamsBashforthMoultonSolverService</url-pattern>
	</servlet-mapping>

</web-app>
